<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
        <script type="text/javascript">
            var ENTRIES = {{ {
              'status': url_for('status'),
              'switch': url_for('switch'),
              'light': url_for('light_set'),
              'stream': url_for('sse.stream'),
            } | tojson | safe }};
        </script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <title>Yeelight</title>
    </head>
    <body ng-app="app" layout="column">
      {% raw %}
      <main ng-controller='lightCtrl'>
          <section>
              <label>Switch</switch>
              <input type="checkbox" ng-model="status.switch"
              ng-true-value="1" ng-false-value="2"
              ng-change="changeSwitch()">
          </section>
          <section>
              <label>Mode</switch>
              <input type="range" ng-model="status.mode"
              min="1" max="2"
              ng-change="changeMode()">
              {{ status.mode }}
          </section>
          <section>
              <label>Temp</label>
              <input type="range" ng-model="status.temp"
              ng-model-options="{ debounce: 1000 }"
              ng-change="changeTemp()"
              min="1700" max="6500">
              {{ status.temp }}
          </section>
          <section>
              <label>RGB</label>
              <input type="color" ng-model="status.rgb"
              ng-change="changeRgb()">
              {{ status.rgb }}
          </section>
          <section>
              <label>brightness</label>
              <input type="range" ng-model="status.brightness"
              min="1" max="100"
              ng-model-options="{ debounce: 1000 }"
              ng-change="changeBrightness()"
              >
              {{ status.brightness }}
          </section>
      </main>
      {% endraw %}
    </body>
</html>

